/* TODO: Add some coordinated colors to make the blog more distinguished:
         Use an accent color for all links, and remove their underline. */

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  padding: 1em;
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 20%, #a0d8ef 77%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 20%,#a0d8ef 77%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 20%,#a0d8ef 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: blue;
}
/*image styles
=========================================  */

img {
  margin: 1.5em;
}